*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: #8B0000;
}

.head1container {
    font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;
    display: flex;
    flex: 1 auto;



}



/*add a nav button here*/

.mainnav {
    list-style: none;
    display: flex;
    margin: 8px;
    justify-content: space-evenly;

}

.nav-1, .nav-2, .nav-3, .nav-4 {
    padding: 4px;
}


div.head1container {
    width: 625px;
    margin: 10px auto;
    padding: 10px;
    color: aliceblue;
    border: 2px solid white;
}