*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: #8B0000;
}

h1, h2 {
    font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;

}

/*add a nav button here*/

nav {
    list-style: none;
    display: flex;
    border: 2px solid white;
    justify-content: center;

}

.homenav {
    display: flex;
    
}

div.head1container {
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    color: aliceblue;
    border: 2px solid white;
}